<h2 class="text-center w-75"><b>ACCOUNT STATEMENT</b></h2>
<P class="text-center w-75">{{date | date : 'fullDate'}}</P>
<div>
<button class="" (click)="filterPipe('')">All</button>
<button class="" (click)="filterPipe('DEBIT')">Debit</button>
<button class="" (click)="filterPipe('CREDIT')">Credit</button>
</div>

<table class="table table-primary table-striped container">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of transaction | filter :searchString:'type'; let j=index">
        <th scope="row">{{j+1}}</th>
        <td>{{i.type}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.date}}</td>
      </tr>
      
    </tbody>
  </table>
  <div class="text-container mb-2">
    <a href="home" type="button" class="btn btn-danger mt-3 ms-3 mb-3 w-25">Close</a>
    <button class="btn btn-primary mt-3 ms-3 mb-3">Export As Pdf<i class="fa-solid fa-file-pdf"></i></button>

  </div>
